div#paperinfo h1 {
/*    display: inline;
    padding: 5px;
    vertical-align: top;*/

    font-family: georgia, Georgia, serif;
    font-family: Gill Sans, Verdana;
    margin: 0;
    padding: 0px 0px 6px 0px;
    font-size: 45px;
    line-height: 38px;
    letter-spacing: -1px;
    font-weight: bold;
    text-align: left;
/*    text-justify: inter-word;*/
    /*color: white;*/
    font-variant: small-caps;
}

div#paperinfo p.summary{
/*    vertical-align: top;
    display: inline;*/
    
	font-family: Gill Sans, Verdana;
	font-size: 13px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	margin:0px;
	margin-top: 1em;
	margin-bottom: 1em;
	
}

div#abstract{
    color:black;
    text-transform: None;
    font-family: georgia, Georgia, serif;
}

header {
    display: block;
/*    color: white;*/
    max-width: 45em;
    padding: 1em;
    float: left;
}

div#paperinfo{
    max-width:45em;
    display:inline-block;
    float: left;
    margin:1em;
}
div#completionsummary {
    display: inline-block;
/*    background: white;*/
    color: black;
    max-width: 120ex;
    margin: 0px;
/*    margin-left: auto;
    margin-right: auto;
    margin-top: 4ex;
    margin-bottom: 4ex;*/
    padding: 1em;
/*    box-shadow: 0ex 0ex 1ex black;
    border-radius: 0.5ex;
    border: 1px solid black;*/
    
}

div#completionsummary div{
    display: inline-block;
    float: left;
    padding-right: 1ex;

}
h4{
    font-family: Gill Sans, Verdana;
    line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	text-align: center;
	margin: 0px;
	margin-top: 11px;
	margin-bottom: 11px;
}
div#completionsummary p{
    margin: 0px;
    padding:1em;
}

div#completionsummary:after {
    clear: both;
}

/*dd, dt {display: inline-block;}*/

dl {list-style-type: ordered}

.good {
    color: #000;
}

.junk {
    background: #f0f;
    color:white;
}

.questionable {
    color: #ff7e00;
}

.rejected {
    background: blue;
    color: white;
}

.bad {
    background:red;
    color: white;
}

#feedback {font-size: 1.4em}

#selectable .ui-selecting {background:#FECA40;}
#selectable .ui-selected {background:#F39814; color:white;}
#selectable {list-style-type: none; margin:0; padding: 0; width:60%;}
#selectable li{ margin: 3px; padding: 0.4em; font-size: 1.4em; height:18px;}


ul.keywords >li {display:inline-block; }/*padding-right:0.3em}*/

ul {
    margin:0.5em;
    list-style-type:square;
    list-style-position:inside;
    padding-left:0px;
}

div#authors{letter-spacing:1px; margin-top:0.5em}
ul.authors{ display:block }
ul.horizontal {
	       padding:0em;margin-left:2em; padding-top:0px;/* color:white;*/
	       font-variant:small-caps;
	       font-family: Gill Sans, Verdana;
	      }

span.aff{font-size:0.8em; font-variant:normal; font-style: italic;}

div#keywords {
    font-size:small;
    margin-top:0.5em;
}

 ul.keywords >li:after{
     content:'•';
     padding-left:0.5em;
     padding-right:0.5em;
 }

 ul.horizontal >li:last-child:after{
     content:'';
 }

div#form{
    display:inline-block;
    /*padding-top:2em;*/
    max-width:45em;
/*    border:medium solid black;*/
    border-radius:1ex;
    padding:1em;
    margin:1em;
    box-shadow: 0ex 0ex 1ex black;
    /*margin-top:3em;*/
    font-family: Gill Sans, Verdana
}




div#form .form, div#comment{
    display:inline-block;
    min-width:25em;
}
div.formmajor input[type=checkbox]{
    transform:scale(1.5);
    padding:5px;
}

div.formmajor label{
    font-size:x-large;
}

div.ftype{
    display:inline-block;
    vertical-align:top;
    padding-right:1em;
    max-width:10em;
}


.ftype h3{
    margin-bottom:0.25em;
}

.ftype p{
    margin:0px;
}

label input[type=checkbox]{
    vertical-align: middle;
    bottom:2px;
}

dl.inline{
    font-family: Gill Sans, Verdana;
    letter-spacing:1px;
    margin:0px;
}

dl.inline dd {
  display: inline;
  margin: 0;
  font-variant:small-caps;

}
dl.inline dd:after{
  display: block;
  content: '';
}
dl.inline dt{
  display: inline-block;
  /*  min-width: 100px;*/
  font-weight:normal;
  font-variant:small-caps;
  margin:0px;
}

dl.inline dt:after{
    content: ':';
}

div#properties{
    display:inline-block;
    padding-left:5em;
    vertical-align:top;
}