{% extends "layout.html" %}
{% from "macros.html" import render_summarytable %}
{% block scripts %}
<style type="text/css">
  {{extracss}}
  tfoot input, thead input {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
  }
</style>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-2.2.3/dt-1.10.12/b-1.2.2/b-colvis-1.2.2/b-html5-1.2.2/b-print-1.2.2/cr-1.3.2/fh-3.1.2/se-1.2.0/datatables.min.css"/>
     <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.3/dt-1.10.12/b-1.2.2/b-colvis-1.2.2/b-html5-1.2.2/b-print-1.2.2/cr-1.3.2/fh-3.1.2/se-1.2.0/datatables.min.js"></script>
    <script type="text/javascript" src="/static/most.js"></script>

</script>
{% endblock %}

{% block body %}

<form>
  <p>Analyse comments on search {{searchid}}. If a username is
  selected, then only papers commented on by that user will be
  selected. The latest comment will be used for the analysis.</p>
  <input type="text" name="username" value='{{querykwargs["username"] if querykwargs["username"] is not none}}' placeholder="username">
  Start Date<input type="text" name="startdate" value='{{querykwargs["startdate"] if querykwargs["startdate"] is not none}}' placeholder="YYYY-MM">
  End Date<input type="text" name="enddate" value='{{querykwargs["enddate"] if querykwargs["enddate"] is not none}}' placeholder="YYYY-MM">
  Paper status<select name="refereed" '>
    <option value="True"{{' selected="selected"'| safe if querykwargs["refereed"]== true}} >Refereed</option>
    <option value="False"{{' selected="selected"'| safe if querykwargs["refereed"]== false}}>Not refereed</option>
    <option value="Either"{{' selected="selected"'| safe if querykwargs["refereed"] is none}}>Either</option>
  </select>
  </br>
  Papertypes to ignore:</br>
  {% for ptype in search.papertypes %}
    <input type="checkbox" name="papertypes" value="{{ptype.id}}"{{' checked="checked"'|safe if ptype.id in  querykwargs["ignored_papertype_ids"]}}>{{ptype.name_}}<br>
  {% endfor %}
  Info sections to ignore:</br>
  {% for infosection in search.infosections %}
    <input type="checkbox" name="infosections" value="{{infosection.id}}"{{' checked="checked"'|safe if infosection.id in querykwargs["ignored_infosection_ids"]}}>{{infosection.name_}}<br/>
    {% endfor %}
    <input type="hidden" name="dosearch" value=1>
  <input type="submit" value="filter">
</form>

{% if overallsummary is not none %}
  <h2> Overall breakdown of papers in this search </h2>
  <p> Please remember that papers can be in multiple categories.</p>

  {% if missing_papers | length > 0 %}

  <p> {{ missing_papers|length}} papers matching this query have not yet been analysed {% if querykwargs["username"] is not none %}  by {{querykwargs["username"]}}{% endif %}:</br>
  {% for j in missing_papers|sort(attribute='Paper.id') %}
    • <a href="{{url_for('auth.paper_info_page', paperid=j.Paper.id, searchid=searchid)}}">{{j.Paper.title}}: {{j.Paper.id}}</a></br>
  {% endfor %}
  </p>

  {% endif %}


  <img src="data:img/png;base64,{{ mpldict['overall']|safe}}">


  {% set id='overallsummary' %}
  <div class="hideshow header" id="breakdown-{{id}}">
    <h4>Full classifications (click here to hide/show)</h4>
  </div>
  <div id="table-breakdown-{{id}}" style="display:none">

    {{ overallsummarytable.to_html()|safe}}


  </div>

  {% for papertype, nested in ptypedict.items() %}
  {% set matchingpapers = overallsummary[overallsummary.index == papertype]['counts'].values[0] %}
     <h2>{{papertype}}: {{ matchingpapers }} matched publications</h2>

      {% for infosection, sectiondict in nested.items() %}
     {% if sectiondict[0] is not none %}
      <h3>{{papertype}}: {{infosection}}</h3>


       <img src="data:img/png;base64,{{ mpldict['{}---{}'.format(papertype, infosection)]|safe}}">

      {{ sectiondict[0].to_html()|safe}}

     {% set id=papertype.replace(' ', '_')+'_'+infosection.replace(' ', '_')%}



     <div class="hideshow header" id="breakdown-{{id}}">
     <h4>Table of papers categorized by {{infosection}} (click here to hide/show)</h4>
     </div>
     <div id="table-breakdown-{{id}}" style="display:none">

       {{ sectiondict[1].to_html() | safe }}
     </div>
     {% endif %}

      {% endfor %}
  {% endfor %}

{% endif %}


{% endblock %}
