<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>{% block title %} Paper Monitoring {% endblock %}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/layout.css" type="text/css" />
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    <link rel="stylesheet" href="/static/nonprint.css" media="not print" type="text/css" />
    <link rel="stylesheet" href="/static/example.css" type="text/css" media="not print"/>
    {% block scripts %}
    {% endblock %}
    </head>

    <body>
	<ul id="navbar">
	    <li><a href="/">All Searches</a></li>
	    <li> {{ search_name }}</li>
	    <li> <a href="{{url_for('auth.search_setup_page')}}">new search</a></li>
	    <li> <a href="/">unchecked</a></li>
	    <li> <a href="/">checked</a></li>
            <li class="login">
              {% if current_user.is_authenticated %}
              <a href="{{url_for('auth.logout')}}">{{current_user.username}}</a>
                {% else %}
              <a href="{{url_for('auth.login', next=request.path)}}"> login </a>
              {% endif %}
            </li>
	</ul>

	{% block body %}
	{% endblock %}
    </body>
</html>
