<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>{% block title %} Paper Monitoring {% endblock %}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/layout.css" type="text/css" />
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    <link rel="stylesheet" href="/static/nonprint.css" media="not print" type="text/css" />
    <link rel="stylesheet" href="/static/example.css" type="text/css" media="not print"/>
    {% block scripts %}
    {% endblock %}
    </head>

    <body>
	<ul id="navbar">
	    <li><a href="{{url_for('auth.front_page')}}">All Searches</a></li>
	    <li> <a href="{{url_for('auth.search_setup_page')}}">Create new search</a></li>
            {% if search %}
	    <li> {{ search.named }}: </li>
            <li> <a href="{{url_for('auth.search_paper_list', searchid=search.id)}}">Search papers</a></li>
            <li> <a href="{{url_for('auth.search_paper_list_bycomment', searchid=search.id)}}">Search comments</a></li>
            <li> <a href="{{url_for('auth.summarise_comments', searchid=search.id)}}">Summarise comments</a></li>
            {% else %}
            <li></li><li></li><li></li>
            {% endif %}
            <li class="login">
              {% if current_user.is_authenticated %}
              <a href="{{url_for('auth.logout')}}">{{current_user.username}}</a>
                {% else %}
              <a href="{{url_for('auth.login', next=request.path)}}"> login </a>
              {% endif %}
            </li>
	</ul>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <div id="content">
	{% block body %}
	{% endblock %}
        </div>
    </body>
</html>
