{% extends "layout.html" %}
{% from "macros.html" import render_comment_searchbox with context %}

{% block body %}

  <h2> Searching comments on papers found on ADS for: {{search.named}} </h2>
  {{ render_comment_searchbox(search) }}
  {% if papers %}
    <p>
      Found {{papers|length}} matching papers and comments</p>
  <table>
     <tr>
       <th>Paper ID</th>
       <th>Paper Bibcode</th>
       <th class="papertitle">Paper Title (click to see comments and paper info)</th>
       <th>Pub Date</th>
       <th>First Author</th>
       <th>Comment</br>Count</th>
       {% if querykwargs['username'] != None %}
       <th>{{querykwargs['username']}}</br>comments</th>
       {% elif current_user.is_authenticated %}
       <th>Your</br>comments</th>
       {% endif %}
       <th>Refereed</th>
     </tr>
  {% for paper in papers|sort(attribute='Paper.id') %}
     <tr>
       <td>{{paper[0].id}}</td>
       <td>{{paper[0].bibcode}}</td>
       <td class="papertitle"><a href="{{url_for('auth.paper_info_page', searchid=search.id, paperid=paper[0].id)}}">{{paper[0].title}}</a></td>
       <td>{{paper[0].pubdate}}</td>
       <td>{{paper[1]}}</td>
       <td>{{paper[2]}}</td>
       {% if querykwargs['username'] != None or current_user.is_authenticated %}
       <td> {{paper[3]}}</td>
       {% endif %}
       <td>{% if paper[0].refereed %}✓{% else %} ✗ {% endif %}</td>
     </tr>
   {% endfor %}
  </table>
{% else %}
<p> No comments found matching search specifications.</p>
{% endif %}



{% endblock %}
