{% extends "layout.html" %}
{% from "macros.html" import render_comment_searchbox with context %}

{% block body %}

  <h2> Searching comments on papers found on ADS for: {{search.named}} </h2>
  {{ render_comment_searchbox(search) }}
  {% if papers %}
    <p>
    {% if commentkwargs.get('usernametype', None) %}
       {{comments|length}} comments towards
    {% endif %}
    {{papers|unique_attr('id')|length}} unique papers identified </p>

  <table>
     <tr>
       <th>Paper ID</th>
       <th>Paper Bibcode</th>
       <th class="papertitle">Paper Title (click to see comments and paper info)</th>
       <th>Pub Date</th>
       <th>Total</br>Comment</br>Count</th>
       <th>Matching</br>comments</th>
       {% if current_user.is_authenticated %}
       <th>Your</br>comments</th>
       {% endif %}
       <th>Refereed</th>
     </tr>
  {% for paper in papers|sort(attribute='id') %}
     <tr>
       <td>{{paper.id}}</td>
       <td>{{paper.bibcode}}</td>
       <td class="papertitle"><a href="{{url_for('auth.paper_comments_info_page', searchid=search.id, paperid=paper.id)}}">{{paper.title}}</a></td>
       <td>{{paper.pubdate}}</td>
       <td>{{paper.comments | length}}</td>
       <td>{{comments|selectattr("paper_id", "equalto", paper.id)|list| length}}</td>
       {% if current_user.is_authenticated %}
       <td> {{paper.comments|selectattr("username", "equalto", current_user.username)|list |length}}</td>
       {% endif %}
       <td>{% if paper.refereed %}✓{% else %} ✗ {% endif %}</td>
     </tr>
   {% endfor %}
  </table>
{% else %}
<p> No comments found matching search specifications.</p>
{% endif %}



{% endblock %}
